* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

img {
  display: block;
  max-width: 100%;
}

.timer {
  display: flex;
  transform: scale(2);
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 15px;
}
.button{
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  margin: 15px;
  color:darkmagenta
}

.button[disabled]{
  color: darkorchid;
}
.input#datetime-picker{
border-radius: 15%;
opacity: 0.5;
border: none;
}